__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.git
.gitignore
README.md
Dockerfile
.dockerignore
*.log
*.tmp
*.temp
test/
tests/
.coverage
.pytest_cache
.mypy_cache
create_admin.py
run_api.py